﻿@using HuskyCompetitionWeb.Models
@model List<Category>
@{
    ViewBag.Title = "Index";
}
<style>

</style>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Master! I also want to take part in the competition!</h1>
            <hr>
            <p style="color:white;">Dear visitors, if you love your Husky, or want to compete with the neighbors whose dog is better, or just to look at these wonderful dogs are welcome at the Husky competition!</p>
            @Html.ActionLink("Join", "InsertMemberStepOne", "Home", new { @class = "btn btn-primary btn-xl page-scroll" })
        </div>
    </div>
</header>

<section class="bg-primary section-block" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Only the best will win!</h2>
                <hr class="light">
                <p class="text-faded">
                    Interested? Hundreds and thousands of Husky from around the world are currently competing for the title of Mr. or Mrs. of Season.
                    The competitions are four heading "Winter Season", "Summer Season", "Autumn Season", "Spring season".
                    The winner is determined by the rating, who gaining participants through the visitors voting.
                </p>
                <a href="/Home/Members/" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section class="section-block" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Current Categories</h2>
                <hr class="primary">
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <h3>@Model[0].Name</h3>
                    <p class="text-muted">@Model[0].Description</p>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <img src="/Content/img/WinterSeason.jpg" class="img-responsive bottom" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <h3>@Model[2].Name</h3>
                    <p class="text-muted">@Model[2].Description</p>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <img src="/Content/img/SpringSeason.jpg" class="img-responsive bottom" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <h3>@Model[1].Name</h3>
                    <p class="text-muted">@Model[1].Description</p>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <img src="/Content/img/SummerSeason.jpg" class="img-responsive bottom" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <h3>@Model[3].Name</h3>
                    <p class="text-muted">@Model[3].Description</p>
                </div>
                <div class="col-lg-12 col-sm-12">
                    <img src="/Content/img/AutumnSeason.jpg" class="img-responsive bottom" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

