﻿@using HuskyCompetitionWeb.ViewModels;
@model InsertViewModel
@{
    ViewBag.Title = "Finish step of create";
}
<section class="bg-primary section-block">
    <div class="container ">
        <div class="row center-block text-center">

            @using (Html.BeginForm("InsertMemberStepThree", "Home", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
            {
                <div class="col-md-5 no-gutter">
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerData.Name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.OwnerData.Name, new { @class = "form-control", @value = Model.OwnerData.Name, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerData.Surname, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.OwnerData.Surname, new { @class = "form-control", @value = Model.OwnerData.Name, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerData.Email, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.OwnerData.Email, new { @class = "form-control", @value = Model.OwnerData.Name, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerData.Info, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.OwnerData.Info, new { @class = "form-control", @value = Model.OwnerData.Name, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DogData.Name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.DogData.Name, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DogData.Age, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.DogData.Age, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.MemberData.Description, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.MemberData.Description, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Category", new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBox("CategorySelected", (string)ViewBag.CategorySelected, new { @class = "form-control", @value = ViewBag.CategorySelected, @readonly = "readonly" })
                        </div>
                    </div>

                </div>
                <br />
                <br />
                <br />
                <div class="col-md-7">
                    @Html.Label("Your uploaded Image", new { @class = "col-sm-2 control-label" })
                    @Html.Raw("<img style=\"box-shadow:0 0 2px 2px #1BD6FE\" class = \"img-responsive col-sm-10\" src=\"data:image/jpeg;base64," + Convert.ToBase64String(@Model.DogData.Image) + "\" />")
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="submit" value="Confirm Instance" class="btn btn-success btn-lg" />
                    </div>
                </div>
            }

        </div>
    </div>
</section>
