﻿@using HuskyCompetitionWeb.ViewModels;
@model InsertViewModel
@{
    ViewBag.Title = "New Member";
}
<section class="bg-primary section-block">
    <div class="container ">
        <div class="row center-block text-center">
            <div class="col-md-12">


                @using (Html.BeginForm("InsertMemberStepOne", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <h3>Hi, at first please fill your personal information here</h3>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerData.Name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.OwnerData.Name, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.OwnerData.Name, "", new { @class = "col-sm-4 alert-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerData.Surname, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.OwnerData.Surname, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.OwnerData.Name, "", new { @class = "col-sm-4 alert-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerData.Email, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.OwnerData.Email, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.OwnerData.Email, "", new { @class = "col-sm-4 alert-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerData.Info, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(model => model.OwnerData.Info, new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Next step" class="btn btn-success btn-lg" />
                    </div>
                }

            </div>
        </div>
    </div>
</section>