﻿@using HuskyCompetitionWeb.ViewModels;
@model InsertViewModel
@{
    ViewBag.Title = "New Member";
}
<section class="bg-primary section-block">
    <div class="container ">
        <div class="row center-block text-center">
            <div class="col-md-12">

                <h3>At second please fill your additional information here</h3>
                <br />

                @using (Html.BeginForm("InsertMemberStepTwo", "Home", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
                {

                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerData.Name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.OwnerData.Name, new { @class = "form-control", @value = Model.OwnerData.Name, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerData.Surname, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.OwnerData.Surname, new { @class = "form-control", @value = Model.OwnerData.Name, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerData.Email, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.OwnerData.Email, new { @class = "form-control", @value = Model.OwnerData.Name, @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.OwnerData.Info, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-10">
                            @Html.TextAreaFor(model => model.OwnerData.Info, new { @class = "form-control", @value = Model.OwnerData.Name, @readonly = "readonly" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DogData.Name, new { @class = "col-md-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.DogData.Name, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.DogData.Name, "", new { @class = "col-sm-4 alert-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DogData.Age, new { @class = "col-md-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.DogData.Age, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.DogData.Age, "", new { @class = "col-sm-4 alert-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MemberData.Description, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.MemberData.Description, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.MemberData.Description, "", new { @class = "col-sm-4 alert-danger" })
                    </div>
                    <div class="form-group">
                        @Html.Label("Select Season", new { @class = "col-md-2 control-label" })
                        <div class="col-sm-4">
                            @Html.DropDownList("CategorySelected", (List<SelectListItem>)ViewBag.CategorySelected, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Select photo to Upload:", new { @class = "col-md-2 control-label" })
                        <div class="col-sm-4">
                            <input type="file" name="UploadImage" />
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Next step" class="btn btn-success btn-lg" />
                    </div>

                }
            </div>
        </div>
    </div>
</section>
