﻿@using HuskyCompetitionWeb.ViewModels;
@model List<DisplayViewModel>
@{
    ViewBag.Title = "Members";
}

<!-- Page Header -->
<section id="members" class="bg-primary section-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Only the best will win!</h2>
                <hr class="light">
                <p class="text-faded">
                    Interested? Hundreds and thousands of Husky from around the world are currently competing for the title of Mr. or Mrs. of Season.
                    The competitions are four heading "Winter Season", "Summer Season", "Autumn Season", "Spring season".
                    The winner is determined by the rating, who gaining participants through the visitors voting.
                </p>
                <a href="/Home/InsertMemberStepOne/" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<!-- Page Content -->
<section class="bg-info center-block text-center" id="list">

    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    Here displayed members list.
                </h2>
                <ol class="breadcrumb">
                    <li><small>Sorting:</small></li>
                    @switch ((int)ViewBag.SortId)
                    {
                        case 0:
                            <li><a href="/Home/Members?PageNamber=@ViewBag.ActivePage&SortOption=1">Seasons</a></li>
                            <li><a href="/Home/Members?PageNamber=@ViewBag.ActivePage&SortOption=2">Name</a></li>
                            break;
                        case 1:
                        <li><a style="font-size:2em;" href="/Home/Members?PageNamber=@ViewBag.ActivePage&SortOption=1">Seasons</a></li>
                        <li><a href="/Home/Members?PageNamber=@ViewBag.ActivePage&SortOption=2">Name</a></li>
                            break;
                        case 2:
                        <li><a href="/Home/Members?PageNamber=@ViewBag.ActivePage&SortOption=1">Seasons</a></li>
                        <li><a style="font-size:2em;" href="/Home/Members?PageNamber=@ViewBag.ActivePage&SortOption=2">Name</a></li>
                            break;
                    }
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            @if (((int)ViewBag.ListFrom + 9) - Model.Count > 0)
            {
                ViewBag.ListTo = Model.Count;
            }
            @for (int i = (int)ViewBag.ListFrom; i < (int)ViewBag.ListTo; i++)
            {
            <!-- Member -->

                <div class="col-lg-4 col-md-4 text-center">
                    <h3>@Model[i].DogData.Name</h3>
                    <h4>@Model[i].CategoryData.Name</h4>

                    @using (@Html.BeginForm("MembersDetail", "Home", FormMethod.Post))
                    {
                        if (Model[i].DogData.Image != null)
                        {
                            @Html.Raw("<img style=\"border-radius:100px;\" class = \"img-responsive\" src=\"data:image/jpeg;base64," + Convert.ToBase64String(@Model[i].DogData.Image) + "\" />")
                        }
                        @Html.Hidden("SelectedDetailID", Model[i].MemberID)
                        <input type="submit" class="btn btn-xs btn-primary" value="See Datails"><span class="glyphicon glyphicon-chevron-right"></span>
                    }
                </div>
            }
        </div>
        <!-- /.row -->
        <hr>
    </div>
</section>

<!-- Pagination -->
<section>
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                @if ((int)ViewBag.ActivePage != 0)
                {
                    <li>
                        <a href="/Home/Members?PageNamber=@(ViewBag.ActivePage - 1)&SortOption=@ViewBag.SortId">&laquo;</a>
                    </li>
                }
                @for (int i = 0; i < (int)ViewBag.PagesCount; i++)
                {
                    if (i == (int)ViewBag.ActivePage)
                    {
                        <li class="active">
                            <a href="#">@(i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/Home/Members?PageNamber=@i&SortOption=@ViewBag.SortId">@(i + 1)</a>
                        </li>
                    }
                }
                @if ((int)(ViewBag.ActivePage + 1) != (int)ViewBag.PagesCount)
                {
                    <li>
                        <a href="/Home/Members?PageNamber=@(ViewBag.ActivePage + 1)&SortOption=@ViewBag.SortId">&raquo;</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- /.row -->
</section>
