﻿@using HuskyCompetitionWeb.ViewModels
@model DisplayViewModel
@{
    ViewBag.Title = "MembersDetail";
}


<!-- Page Header -->
<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Only the best will win!</h2>
                <!-- Portfolio Item Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            @Model.DogData.Name
                            <small style="color:white;">(@Model.CategoryData.Name)</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <!-- Portfolio Item Row -->
                <div class="row">

                    <div class="col-md-12">
                        @if (Model.DogData.Image != null)
                        {
                            @Html.Raw("<img class = \"img-responsive center-block\" src=\"data:image/jpeg;base64,"
                                         + Convert.ToBase64String(Model.DogData.Image) + "\" />")
                        }
                        else
                        {
                            <h3>No Photo Avalible</h3>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>@Model.DogData.Name</p>
                        <p>@Model.MemberDescription</p>
                    </div>
                    <div class="col-md-6">
                        <h3>Member Details</h3>
                        <p>Competiton Categoty: </p>
                        <p style="font-size:2em;">@Model.CategoryData.Name</p>
                        <p>Owner Information</p>
                        <p style="font-size:2em;">@Model.OwnerData.Name @Model.OwnerData.Surname</p>
                        <p>Email Address:</p>
                        <p style="font-size:2em;">@Model.OwnerData.Email</p>
                        <p>Owner personal information:</p>
                        <p style="font-size:2em;">@Model.OwnerData.Info</p>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
</section>

<!-- Page Content -->
<section class="bg-primary"></section>


